SocketDemo/Service References/NewOnlineService/Baosight.DataLib1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Baosight.DataLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Baosight.DataLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="aBaseDataLib">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="aBaseDataLib" nillable="true" type="tns:aBaseDataLib" />
  <xs:complexType name="PollutionBaseInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CSWRWZL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CYMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CZHM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DLDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DWDZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DWLX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DZYX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FRDB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GXGS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HBLXR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HBLXRLXDZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HBLXRSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HBRLXDH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HBTZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HYDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JDD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JDF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JJLX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KHYH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KYSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LSGX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LXDH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LXRSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFYZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PWSBDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PWXKZBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QFGWGDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QJSCCS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QJSCTGSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QXSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QXYY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QYGM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SCZT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFQXGL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFSSGS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFTGQJSC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFYZGS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSDS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSJD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSQX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSSF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SZGYYQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SZXZQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TYSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WDD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WDF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYJC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYJS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WZH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XLDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YGRS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YHZH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YYZZDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YZBM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZGSMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZHGKJSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZTZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZZDMJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZZJGDN" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionBaseInfoObj" nillable="true" type="tns:PollutionBaseInfoObj" />
  <xs:complexType name="PollutionEnvInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="GYYDHJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HYGNQJB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JZJHL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JZJHLJL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KQGNQJB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LYDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LYDM_SZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFJPXMDW" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFSO2KZQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFSYKZQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFSYQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SYBHQDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SYBHQJB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SYGNQJB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZSGNQJB" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionEnvInfoObj" nillable="true" type="tns:PollutionEnvInfoObj" />
  <xs:complexType name="PollutionExInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="DATASOURCE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATAUPDATETIME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FACTSHORTCUT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISUPLOAD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPLOADTIME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionExInfoObj" nillable="true" type="tns:PollutionExInfoObj" />
  <xs:complexType name="PollutionNoiseSiteInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="CDWZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SYBZLX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZSCSD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZSYBH" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionNoiseSiteInfoObj" nillable="true" type="tns:PollutionNoiseSiteInfoObj" />
  <xs:complexType name="PollutionNoiseSourceInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFBZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFZXJK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZSRBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZSWZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZSYMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZSYXZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZXBZ" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionNoiseSourceInfoObj" nillable="true" type="tns:PollutionNoiseSourceInfoObj" />
  <xs:complexType name="PollutionSolidWasteInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GFCLFS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GTFWDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GTFWFLDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GTFWLBBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GTFWMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFWF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionSolidWasteInfoObj" nillable="true" type="tns:PollutionSolidWasteInfoObj" />
  <xs:complexType name="PollutionWSOutputFacilityInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FSCLFF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FSLB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GDZCYZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GGXH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NYXFY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SCLSSBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SCLSSMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SJCLNL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SJCLNLI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSYXZT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TYRQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZTZ" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionWSOutputFacilityInfoObj" nillable="true" type="tns:PollutionWSOutputFacilityInfoObj" />
  <xs:complexType name="PollutionUpdateInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BGHNR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BGQNR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BGSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BGSM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BGSX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionUpdateInfoObj" nillable="true" type="tns:PollutionUpdateInfoObj" />
  <xs:complexType name="PollutionDaTumInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DW" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NCL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YFCLMC" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionDaTumInfoObj" nillable="true" type="tns:PollutionDaTumInfoObj" />
  <xs:complexType name="PollutionRecordInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CFLJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DABH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DALX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DAMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFYX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WJHZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WJMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionRecordInfoObj" nillable="true" type="tns:PollutionRecordInfoObj" />
  <xs:complexType name="PollutionFacilityInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GGXH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SBMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XH" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionFacilityInfoObj" nillable="true" type="tns:PollutionFacilityInfoObj" />
  <xs:complexType name="PollutionFQOutputFacilityObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GDZCYZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GGXH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JHFF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JHZZBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JHZZMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NYXFY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SCJHL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SJCLNL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SJJHL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSYXZT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TYRQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZTZ" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionFQOutputFacilityObj" nillable="true" type="tns:PollutionFQOutputFacilityObj" />
  <xs:complexType name="PollutionFQOutputInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CJGDMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CKNJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JDD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JDF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFGL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFKBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFKGD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFKLX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFKMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFKWZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PQTJMJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RSFS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RSZL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFAZZXJKSB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WDD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WDF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZXBZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZXBZMS" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionFQOutputInfoObj" nillable="true" type="tns:PollutionFQOutputInfoObj" />
  <xs:complexType name="PollutionFQOutputElementObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="PFBZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFBZDW" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFBZSZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFBZZSX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFBZZXX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PWKBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRWDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRWMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionFQOutputElementObj" nillable="true" type="tns:PollutionFQOutputElementObj" />
  <xs:complexType name="PollutionWSOutputInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BZPAZXS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODE_PIPENETWORK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ESTUARYLATITUDE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ESTUARYLONGITUDE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JDD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JDF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JNWSSTDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OUTENTERCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFGL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFQXLB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PRWSCLCMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PWKBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PWKMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PWKWZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFAZZXJKSB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WDD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WDF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZXBZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZXBZJB" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionWSOutputInfoObj" nillable="true" type="tns:PollutionWSOutputInfoObj" />
  <xs:complexType name="PollutionWSOutputElementObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="PFBZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFBZDW" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFBZSZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFBZZSX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PFBZZXX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PWKBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRWDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRWMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionWSOutputElementObj" nillable="true" type="tns:PollutionWSOutputElementObj" />
  <xs:complexType name="PollutionManageInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="DLQYZJRL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DQJYZK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FQPFBZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FQPFBZSD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FSPFBZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FSPFBZSD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FXJB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HBCXDJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HBJGJB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QJSCSHDW" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QJSCSHSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QJSCYSDW" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QJSCYSSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QXSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QXYY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFDYEYHLJFTZS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFFQZDWRY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFFSZDWRY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFFXY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFGFCSDW" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFGFJYDW" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFGFZDWRY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFHJTJQY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFJDXJC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFJLJDYZD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFKZPWF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFLSDW" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFNG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFPWKGFH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFPWSBQY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFQXGL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFSYDW" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFSYLWRYPFQY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFSZJSPFQY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFTGISO14000" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFTGQJSCSH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFWSCLC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFWXFFW" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFWXY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFXYPD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFYHJYJYA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFZDY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFZHBBMBA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFZXJCQY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SZSSDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WSPFFS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XYPDDJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YJYLPC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZFJSSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZFKSSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZFPL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZFSJDW" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZSPFBZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZXJCLB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZXSBLWQK" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionManageInfoObj" nillable="true" type="tns:PollutionManageInfoObj" />
  <xs:complexType name="PollutionAdminInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BYYX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CSRQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DJGLDWYJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DJGLDWYJSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DWJD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DWJDSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DZYJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GZJL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GZXLDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LXDH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TXDZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZY" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionAdminInfoObj" nillable="true" type="tns:PollutionAdminInfoObj" />
  <xs:complexType name="PollutionNoiseFacilityObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GGXH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JHZZBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NYXFY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TYRQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionNoiseFacilityObj" nillable="true" type="tns:PollutionNoiseFacilityObj" />
  <xs:complexType name="PollutionGFTMFacilityObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="CLL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FSJG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SBMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SJRL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SLYCL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SLYSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSLX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TMQCL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TMQSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XH" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionGFTMFacilityObj" nillable="true" type="tns:PollutionGFTMFacilityObj" />
  <xs:complexType name="PollutionGFFSFacilityObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="DLCLNL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FDZJRL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NPJDLYXTS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RPJDLYXSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSLX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSSL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YRLYFS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YXFS" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionGFFSFacilityObj" nillable="true" type="tns:PollutionGFFSFacilityObj" />
  <xs:complexType name="PollutionGFDFFacilityObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="CLFWZL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DFCPSJSCNL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SJCLNL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSLX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XH" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionGFDFFacilityObj" nillable="true" type="tns:PollutionGFDFFacilityObj" />
  <xs:complexType name="PollutionGFZHLYFacilityObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="CPSJSCNL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LYFWZL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SJLYNL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZHLYCP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZYLYSS" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionGFZHLYFacilityObj" nillable="true" type="tns:PollutionGFZHLYFacilityObj" />
  <xs:complexType name="PollutionGFZJCLFacilityObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="CLFWZL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CLHDFWQX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SJCLNL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSZL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XH" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PollutionGFZJCLFacilityObj" nillable="true" type="tns:PollutionGFZJCLFacilityObj" />
  <xs:complexType name="SysFrameInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="CONFIG" nillable="true" type="tns:ArrayOfSysFrameConfigObj" />
          <xs:element minOccurs="0" name="EXFUNCTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FRAMENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OPERAFUNCTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SEARCHFUNCTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SysFrameInfoObj" nillable="true" type="tns:SysFrameInfoObj" />
  <xs:complexType name="ArrayOfSysFrameConfigObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SysFrameConfigObj" nillable="true" type="tns:SysFrameConfigObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSysFrameConfigObj" nillable="true" type="tns:ArrayOfSysFrameConfigObj" />
  <xs:complexType name="SysFrameConfigObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="ALIASNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONTROLSIZE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FIELDNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FRAMEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INPUTTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISNULLABLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISREADONLY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LOADORDER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REGEXSTR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SELCONTENT" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SysFrameConfigObj" nillable="true" type="tns:SysFrameConfigObj" />
  <xs:complexType name="CodeFactCodeObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="CODETYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VALUE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CodeFactCodeObj" nillable="true" type="tns:CodeFactCodeObj" />
  <xs:complexType name="SysRemindObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISCLOSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISMS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISREAD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISREPEAT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISSMS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MCONTENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MCREATER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MCREATETIME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MLEVEL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MOBILE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MREADTIME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MTARGET" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REMINDTIME" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SysRemindObj" nillable="true" type="tns:SysRemindObj" />
  <xs:complexType name="SysPageLayoutObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="FRAMELIST" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FRAMELISTSTYLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PAGENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SysPageLayoutObj" nillable="true" type="tns:SysPageLayoutObj" />
  <xs:complexType name="OnlineMonitorObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="DATETIME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TAGID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VALUE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OnlineMonitorObj" nillable="true" type="tns:OnlineMonitorObj" />
  <xs:complexType name="OnlineSiteInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACTUREX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ACTUREY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISONLINE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="POINTX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="POINTY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RELATEFACT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SITEADDRESS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SITEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SITEKIND" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SITENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SITETYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OnlineSiteInfoObj" nillable="true" type="tns:OnlineSiteInfoObj" />
  <xs:complexType name="OnlineSiteElementInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="DATAFLAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATAKIND" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATATAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ELEMENTNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ELEMENTTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HILIMIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LOWLIMIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SITEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OnlineSiteElementInfoObj" nillable="true" type="tns:OnlineSiteElementInfoObj" />
  <xs:complexType name="EnforceDepartmentObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="DEPARTNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DLEVEL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnforceDepartmentObj" nillable="true" type="tns:EnforceDepartmentObj" />
  <xs:complexType name="EnforceTaskInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BAK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JHKS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JHWC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RWBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RWCJR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RWCJSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RWFJXX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RWJD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RWLX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RWMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RWSM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RWWCSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XGFJ" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnforceTaskInfoObj" nillable="true" type="tns:EnforceTaskInfoObj" />
  <xs:complexType name="EnforceMidTaskObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="CJRI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RWBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XCZFBH" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnforceMidTaskObj" nillable="true" type="tns:EnforceMidTaskObj" />
  <xs:complexType name="EnforceTaskAttachmentInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJBZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJDX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJDZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJLX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJRQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RWBH" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnforceTaskAttachmentInfoObj" nillable="true" type="tns:EnforceTaskAttachmentInfoObj" />
  <xs:complexType name="EnforceEmployeeInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="DEPARTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEVICEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMPNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ENFORCEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LOGSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MOBILE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RESAREA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SERIALNO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SYSUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TEL" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnforceEmployeeInfoObj" nillable="true" type="tns:EnforceEmployeeInfoObj" />
  <xs:complexType name="EnforceInspectionObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DWLX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FDDBR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FDDBRDH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FPZFRY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HBFZR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HBFZRDH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JCR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JCRBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JCRBM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JCRBMBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JCRYS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JCXJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JDD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JDF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JLR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JLRBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JSSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KSSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QYLX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QYQK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RWBLR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RWLB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFHG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSHBBM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSHY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TBBJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TBSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WDD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WDF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WFXWDD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYDZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XCZFBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XZQY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZFLXXL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZFZH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZFZT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZYWRWYZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZYZRRDH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZYZRRXM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZYZRRZJ" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnforceInspectionObj" nillable="true" type="tns:EnforceInspectionObj" />
  <xs:complexType name="EnforceInspectionRecordObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BLLX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DWDZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FDDBR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FDDBRLXDH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GMSHHM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GZDWJZW" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HBBM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HBLY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JCR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JLR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KCDD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KCDWFDMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KCJSSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KCKSSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QTCJRXX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SQHB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SYYJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SZJD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SZWD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WFXWXM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XCFZR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XCFZRLXDH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XCQK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XCZFBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YYLY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZFZH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZJYY" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnforceInspectionRecordObj" nillable="true" type="tns:EnforceInspectionRecordObj" />
  <xs:complexType name="EnforceInquiryRecordObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BXWR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BXWRDZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BXWRYJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CYR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GZDWJZW" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HBBM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HBLY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JLR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JSSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KSSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LXDH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFZH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SQHB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SZJD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SZWD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WRYMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XCZFBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XWR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YBAGX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YYLY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YZBM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZFRY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZFZH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZJYY" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnforceInquiryRecordObj" nillable="true" type="tns:EnforceInquiryRecordObj" />
  <xs:complexType name="EnforceAttachmentInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJBZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJDX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJDZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJLX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJRQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XCZFBH" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnforceAttachmentInfoObj" nillable="true" type="tns:EnforceAttachmentInfoObj" />
  <xs:complexType name="EnforceWorkProcessObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="CZR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XCZFBH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZFZT" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnforceWorkProcessObj" nillable="true" type="tns:EnforceWorkProcessObj" />
  <xs:complexType name="SysExreportObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="FILENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATETIME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WEBPATH" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SysExreportObj" nillable="true" type="tns:SysExreportObj" />
  <xs:complexType name="SysSearchConfigObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BAK1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BAK2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COLUMNNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONNECTIONSTR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATASOURCEINFO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATATYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEFAULTLIMIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEFAULTORDER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FIELDNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GROUPNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GROUPORDER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SQLSTR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STYPE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SysSearchConfigObj" nillable="true" type="tns:SysSearchConfigObj" />
  <xs:complexType name="SysFileConfigObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="FID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FILECLASS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FILENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FILEURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATETIME" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SysFileConfigObj" nillable="true" type="tns:SysFileConfigObj" />
  <xs:complexType name="DXFInfoObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BACKMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CHECKDATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CHECKMAN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CHECKOPINION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATESOURCE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEADLINE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEALADDRESS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEALAREA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEALDEPARTMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEALENDDATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEALGRID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEALMAN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEALMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEALNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEALOPINION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEALRECEIVEDATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEALREPORT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEALREQUEST" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DISPDATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ENTERPRISEADDRESS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ENTERPRISEAREA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ENTERPRISENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FORM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INFO1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INFO10" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INFO2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INFO3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INFO4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INFO5" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INFO6" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INFO7" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INFO8" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INFO9" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISANONYMOUS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISEMERGENCY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISPLEASED" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISREPEAT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISREPORT1CHECKED" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISREPORT2CHECKED" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISREPORT3CHECKED" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISREPORT4CHECKED" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LEADEROPINION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MARK1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MARK2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OTHERREPORT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PURPOSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RECORDID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REDISPREASON" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REGISDATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REGISDEADLINE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REPLYTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REPORTCONTENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REPORTERADDRESS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REPORTEREMAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REPORTERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REPORTERNUM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REPORTEROPINION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REPORTERPHONE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REPORTERSEX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REPORTERZIP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REVERTDATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REVERTDEPARTMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REVERTTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFJA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SUMDATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TYPE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DXFInfoObj" nillable="true" type="tns:DXFInfoObj" />
  <xs:complexType name="SysFileLibObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BAK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJBZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJDX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJDZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJLX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FJRQ" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SysFileLibObj" nillable="true" type="tns:SysFileLibObj" />
  <xs:complexType name="EnforceGPSObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BAK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DTIME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LAT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LON" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SERIALNO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SIMNO" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnforceGPSObj" nillable="true" type="tns:EnforceGPSObj" />
  <xs:complexType name="SysSCColumnObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="COLUMNCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COLUMNNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COLUMNTYPE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SysSCColumnObj" nillable="true" type="tns:SysSCColumnObj" />
  <xs:complexType name="SysSCSearchObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="COLUMN" nillable="true" type="tns:ArrayOfSysSCColumnObj" />
          <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SNAME" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SysSCSearchObj" nillable="true" type="tns:SysSCSearchObj" />
  <xs:complexType name="ArrayOfSysSCColumnObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SysSCColumnObj" nillable="true" type="tns:SysSCColumnObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSysSCColumnObj" nillable="true" type="tns:ArrayOfSysSCColumnObj" />
  <xs:complexType name="SysSCGroupObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="GROUPNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SEARCH" nillable="true" type="tns:ArrayOfSysSCSearchObj" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SysSCGroupObj" nillable="true" type="tns:SysSCGroupObj" />
  <xs:complexType name="ArrayOfSysSCSearchObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SysSCSearchObj" nillable="true" type="tns:SysSCSearchObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSysSCSearchObj" nillable="true" type="tns:ArrayOfSysSCSearchObj" />
  <xs:complexType name="ConHisDataObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence>
          <xs:element minOccurs="0" name="BJRQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BYTYWH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FSPFQX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FZR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HPPFSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HPPWH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HYLB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JSDW" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JSDZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JSXZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LXDH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NFSPFL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PWH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PWRQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SPJG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SQSX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSCJSSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSCKSSJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSXZQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SZGYQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XMDJH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XMMC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XMNR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZDJGQY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZDXM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZXJC" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConHisDataObj" nillable="true" type="tns:ConHisDataObj" />
  <xs:complexType name="ConditionObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aBaseDataLib">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConditionObj" nillable="true" type="tns:ConditionObj" />
  <xs:complexType name="ArrayOfaBaseDataLib">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aBaseDataLib" nillable="true" type="tns:aBaseDataLib" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaBaseDataLib" nillable="true" type="tns:ArrayOfaBaseDataLib" />
  <xs:complexType name="ArrayOfOnlineMonitorObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OnlineMonitorObj" nillable="true" type="tns:OnlineMonitorObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOnlineMonitorObj" nillable="true" type="tns:ArrayOfOnlineMonitorObj" />
  <xs:complexType name="ArrayOfOnlineSiteInfoObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OnlineSiteInfoObj" nillable="true" type="tns:OnlineSiteInfoObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOnlineSiteInfoObj" nillable="true" type="tns:ArrayOfOnlineSiteInfoObj" />
  <xs:complexType name="ArrayOfOnlineSiteElementInfoObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OnlineSiteElementInfoObj" nillable="true" type="tns:OnlineSiteElementInfoObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOnlineSiteElementInfoObj" nillable="true" type="tns:ArrayOfOnlineSiteElementInfoObj" />
  <xs:complexType name="NullObj">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="NullObj" nillable="true" type="tns:NullObj" />
</xs:schema>