SocketDemo/Service References/RequestHisData/RequestHisData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://RequestHisData/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://RequestHisData/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://RequestHisData/">
      <s:element name="reqHisBaseData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tagNames" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="beginTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="reqHisBaseDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reqHisBaseDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reqAccountData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tagNames" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="beginTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="anaFlag" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="accountType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reqAccountDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reqAccountDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="reqHisBaseDataSoapIn">
    <wsdl:part name="parameters" element="tns:reqHisBaseData" />
  </wsdl:message>
  <wsdl:message name="reqHisBaseDataSoapOut">
    <wsdl:part name="parameters" element="tns:reqHisBaseDataResponse" />
  </wsdl:message>
  <wsdl:message name="reqAccountDataSoapIn">
    <wsdl:part name="parameters" element="tns:reqAccountData" />
  </wsdl:message>
  <wsdl:message name="reqAccountDataSoapOut">
    <wsdl:part name="parameters" element="tns:reqAccountDataResponse" />
  </wsdl:message>
  <wsdl:portType name="RequestHisDataSoap">
    <wsdl:operation name="reqHisBaseData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">从数据库中查询历史原始数据</wsdl:documentation>
      <wsdl:input message="tns:reqHisBaseDataSoapIn" />
      <wsdl:output message="tns:reqHisBaseDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reqAccountData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">从数据库中查询统计数据</wsdl:documentation>
      <wsdl:input message="tns:reqAccountDataSoapIn" />
      <wsdl:output message="tns:reqAccountDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RequestHisDataSoap" type="tns:RequestHisDataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="reqHisBaseData">
      <soap:operation soapAction="http://RequestHisData/reqHisBaseData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reqAccountData">
      <soap:operation soapAction="http://RequestHisData/reqAccountData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RequestHisDataSoap12" type="tns:RequestHisDataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="reqHisBaseData">
      <soap12:operation soapAction="http://RequestHisData/reqHisBaseData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reqAccountData">
      <soap12:operation soapAction="http://RequestHisData/reqAccountData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RequestHisData">
    <wsdl:port name="RequestHisDataSoap" binding="tns:RequestHisDataSoap">
      <soap:address location="http://192.168.10.1/RequestHisData/RequestHisData.asmx" />
    </wsdl:port>
    <wsdl:port name="RequestHisDataSoap12" binding="tns:RequestHisDataSoap12">
      <soap12:address location="http://192.168.10.1/RequestHisData/RequestHisData.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>